extends ../shared/template

block content

  //- header
  //-     h1 Fellow
  //-
  //-
  //- #page
  //-   nav
  //-     .container
  //-         span
  //-           a(href='/' class="button button-border") Home
  //-         span
  //-           a(href='/priorities' class="button button-border") Priorities
  //-         span
  //-           a(href='/tasks/' class="button button-border") Tasks



  img(src='/img/pencil.png')
